/* Variables */

/*  */
/* Colores */
/*  */
$colorVerde: #00FF95;
$colorBlanco: #ffffff;
$colorAzul: #0000A3;
$colorCeleste: #0084ff;
$colorNegro: #000;
$colorAqua: #4DD6C6;
$colorGrisClaro: #A7A7A7;
$colorGrisOscuro: #868686;

/*  */
/* Fonts */
/*  */
$Rubik: "Rubik", sans-serif;
$Josefin: "Josefin Sans", sans-serif;