/* Import */
@import "_anim";
@import "_footer";
@import "_navbar";
@import "_var";

/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
    font-family: $Josefin;
}

.h1-class {
	letter-spacing: 1px;
	font-size: 4.2rem;
	text-align: left;
	text-transform: uppercase;
	line-height: 1.3;
}

/*  */
/* Sección: Inicio */
/*  */

.main-index {
    background-color: $colorBlanco;
    background-image: url(../img/background-header.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Extend */
.cover-text {
    height: 100%;
    width: 40%;
    padding-left: 50px;
    margin-top: 80px;
	h2 {
		@extend .h1-class;
	}
	p {
		letter-spacing: 0.5px;
		text-align: left;
		margin: 10px 0 30px 0;
		font-family: $Rubik;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 1.8;
	}
	a {
		color: $colorBlanco;
		font-size: 1.8rem;
		text-decoration: none;
		text-transform: uppercase;
		background-color: transparent;
		background-image: linear-gradient(90deg, $colorAqua 0%, $colorVerde 100%);
		padding: 18px 50px 18px 50px;
		border-radius: 5px 5px 5px 5px;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
	}
	a:hover {
		background-image: linear-gradient(90deg, $colorCeleste 0%, $colorVerde 100%);
	}
}

.cover-img {
    height: 100%;
    margin-top: 80px;
}

.cover-img img{
    margin-left: 50px;
}

#img-anim {
    animation-name: img-anim;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}

.about {
	margin: 40px 0;
}

.about-text {
    margin-left: 120px;
    height: 100%;
    width: 30%;
	h1 {
		@extend .h1-class;
	}
	p {
		margin-top: 15px;
		font-family: $Rubik;
		color: $colorGrisClaro;
		font-size: 1.4rem;
		line-height: 2.5rem;
		text-align: left;
	}
}

.about-img {
	img:hover {
		filter: grayscale(1);
	}
}

.box-area {
    display: grid;
    width: 100%;
    justify-items: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
}

.item-box {
	p {
	color: $colorVerde;
    margin-top: 10px;
    font-family: $Rubik;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
	}
	p .special-text {
		color: $colorGrisClaro;
		font-weight: 400;
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.talk {
	height: 300px;
    margin-top: 110px;
    background-image: -webkit-linear-gradient(225deg, $colorCeleste 0%, $colorAzul 100%);
    margin-left: auto;
    margin-right: auto;
	h2 {
		color: $colorBlanco;
		padding-top: 80px;
		font-size: 4.8rem;
		text-align: center;
		line-height: 50px;
		margin-bottom: 50px;
	}
	.button-a {
		display: block;
		text-align: center;
	}
	a {
		color:$colorNegro;
		background-color: $colorVerde;
		padding: 20px 80px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.8rem;
		font-family: $Rubik;
		font-weight: 500;
	}
	a:hover {
		color: $colorNegro;
		background-color: $colorBlanco;
	}
}

/*  */
/* Sección: Nosotros */
/*  */

.nosotros-section {
	padding-top: 150px;
}

.nosotros-texto {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	h1 {
		text-align: center;
		padding-top: 12px;
		color: $colorVerde;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 4.2rem;
		font-weight: 600;
		margin-bottom: 20px;
		&:hover {
			background-color: $colorVerde;
			color: $colorBlanco;
		}
	}
	p {
		text-align: center;
		font-family: $Rubik;
		color: $colorGrisClaro;
		font-size: 1.8rem;
		line-height: 25px;
		.strong-text {
			font-weight: 600;
		}
	}
}

.viñetas-section {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: center;
	justify-items: center;
}

.viñeta-box {
	display: flex;
	padding: 30px 15px 30px 15px;
	text-align: left;
}

.img-viñeta {
	padding: 15px 15px;
	margin: 0px 25px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.07);
}

.text-viñeta {
	h2 {
		color: $colorGrisOscuro;
		font-weight: 700;
		font-size: 2.2rem;
		padding-bottom: 15px;
	}
	p {
		color: $colorGrisClaro;
		font-size: 1.6rem;
		font-family: $Rubik;
		font-weight: 400;
		line-height: 25px;
		&:hover {
			color: $colorVerde;
			transition: 0.3s;
		}
	}
}

.iframe-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 35px;
}

.iframe-section {
	margin-top: 40px;
	background-color: $colorVerde;
	padding: 50px 0;
}

.video-iframe {
	iframe {
		width: 500px;
		height: 300px;
	}
}

.text-iframe {
	width: 35%;
	margin-left: 25px;
	h2 {
		font-size: 4.2rem;
	}
	p {
		font-size: 1.6rem;
		color: $colorBlanco;
		line-height: 25px;
		font-family: $Rubik;
		font-weight: 400;
	}
}

/*  */
/* Sección: Portfolio */
/*  */

.portfolio-main {
	display: block;
	margin-top: 150px;
	text-align: center;
	h2 {
		@extend .h1-class;
		text-align: center;
	}
	p {
		font-size: 1.6rem;
		color: $colorGrisClaro;
	}
}

.rappi-section {
    padding-top: 300px;
    background-image: url(../img/port-rappi.png);
	background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    padding-bottom: 280px;
}

.iunigo-section {
    background-image: url(../img/iunigo-bg.png);
    background-position: 110% 0%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 50px;
}

.kromber-section {
    margin-top: 80px;
    background-image: url(../img/kromber-bg.png);
    background-position: -10% 0%;
}

.box-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
	img {
		padding-left: 35px;
		padding-right: 5px;
		width: 50%;
	}
}

.text-cliente {
	width: 40%;
	padding: 0 35px;
	h1 {
		color: $colorBlanco;
		font-size: 6rem;
	}
	p {
		color: $colorBlanco;
		font-family: $Rubik;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.9;
	}
}

/* Map */
$clientes: (
	iunigo: #fa0042,
	kromber: #cd9ebf,
);

/* Mixin */
@mixin clientes {
	h2 {
		font-size: 3.6rem;
	}
	p {
		color: $colorGrisClaro;
		font-size: 1.6rem;
	}
}

/* Map-get */
.iunigo {
	@include clientes;
	h2 {
		color: map-get($map: $clientes, $key: iunigo);
	}
}

.kromber {
	@include clientes;
	h2 {
		color: map-get($map: $clientes, $key: kromber);
	}
}

.section-uniformes {
	@extend .viñetas-section;
	width: 100%;
	grid-template-columns: 30% 30% 30%;
	gap: 15px;
}

.uniformes-box {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 1rem;
	img {
		filter: grayscale(1);
		width: 90%;
	}
	img:hover {
		filter: none;
		transition: 0.3s;
	}
	h2 {
		font-size: 2.4rem;
	}
}

.clientes-main {
	@extend .portfolio-main;
	margin-top: 80px;
	padding: 80px 0;
	background-color: #eeeeee;
	h2 {
		font-size: 4.2rem;
		text-transform: uppercase;
	}
}

.section-clientes {
	@extend .section-uniformes;
	justify-content: center;
}

.box-logo img {
	width: 80%;
}

/*  */
/* Sección: Contacto */
/*  */

.contacto-section {
    background-color: $colorVerde;
    padding-top: 150px;
    padding-bottom: 50px;
}

.text-contacto {
	h2 {
		color: $colorBlanco;
		font-size: 5.6rem;
		font-weight: 700;
		text-align: center;
	}
	p {
		margin-top: 15px;
		color: $colorBlanco;
		text-align: center;
		font-size: 1.6rem;
	}
}

.contact-container {
	display: grid;
	grid-template-columns: 30% 40% 30%;
	justify-content: space-around;
}

.contact-box {
	background-color: $colorBlanco;
    margin: 100px 50px;
	padding: 30px 0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
	text-align: center;
	img {
		width: 100px;
		height: 100px;
	}
	p {
		color: $colorNegro;
		font-size: 1.6rem;
		font-weight: 400;
		text-align: center;
		padding: 0 5px;
	}
}

.form {
    font-family: $Rubik;
    display: flex;
}

.form-title {
    font-size: 3.6rem;
    font-weight: 700;
    text-align: center;
}

.form-container {
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}

.btn-input {
    color: $colorBlanco;
    background-color: $colorCeleste;
    border: none;
    font-family: $Rubik;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-input:hover {
    background-color: #59afff;
}

@import "_media";