/* Import */
@import "var";


/* Seccion nosotros */
.nosotros-section {
	padding-top: 150px;
}

.nosotros-texto {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	h2 {
		text-align: center;
		padding-top: 12px;
		color: $colorBackground;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 4.2rem;
		font-weight: 600;
		margin-bottom: 20px;
		&:hover {
			background-color: $colorBackground;
			color: $colorWhite;
			text-decoration: line-through;
		}
	}
	p {
		text-align: center;
		font-family: "Rubik", sans-serif;
		color: #A7A7A7;
		font-size: 1.8rem;
		line-height: 25px;
		.strong-text {
			font-weight: 600;
		}
	}
}

.viñetas-section {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: center;
	justify-items: center;
}

.viñeta-box {
	display: flex;
	padding: 30px 15px 30px 15px;
	text-align: left;
}

.img-viñeta {
	padding: 15px 15px;
	margin: 0px 25px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.07);
}

.text-viñeta {
	h2 {
		color: #868686;
		font-weight: 700;
		font-size: 2.2rem;
		padding-bottom: 15px;
	}
	p {
		color: #A7A7A7;
		font-size: 1.6rem;
		font-family: "Rubik", sans-serif;
		font-weight: 400;
		line-height: 25px;
		&:hover {
			color: $colorBackground;
			transition: 0.3s;
		}
	}
}

.iframe-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 35px;
}

.iframe-section {
	margin-top: 40px;
	background-color: $colorBackground;
	padding: 50px 0;
}

.video-iframe {
	iframe {
		width: 500px;
		height: 300px;
	}
}

.text-iframe {
	width: 35%;
	margin-left: 25px;
	h2 {
		font-size: 4.2rem;
	}
	p {
		font-size: 1.6rem;
		color: $colorWhite;
		line-height: 25px;
		font-family: "Rubik", sans-serif;
		font-weight: 400;
	}
}
